.data{
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
}
table{
    width: 500px;
    height: 400px;
    text-align: center;
    font-size: 20px;
}
 table a{
    color: #000;
    font-size: 20px;
    text-decoration: none;
}