form{
  text-align: center;
  min-height: 100vh;

}
form label{
    font-size: 25px;
}
form option{
    font-size: 25px;
}
form label{
    font-size: 25px;
}
form select{
    width: 200px;
    height: 100px;
    border-radius: 20px;
    border: 5px solid #000000;
}
form select option{
    text-align: center;
}
h1{
    text-align: center;
    color: #e60a0a;

}
.menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #000;
    overflow: hidden;
}
.menu li{
    float: left;
}
.menu  li a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    padding:  25px;
    background: #000;
    text-align: center;
    display: block;
}
.menu li a:hover{
    background: #e60a0a;
}
footer{
    width: 100%;
    background: #000;
    position: absolute;
    font-size: 20px;
    color: #fff;
    bottom: 0;
    text-align: center;
 }
 button{
    background: #ff0000;
    font-size: 60px;
    color: #fff;
    border-radius: 20px;
    text-align: center;

 }
 button:hover{
    background: #20acdf;
    transform: scale(2.0);
 }
 button:active{
    background: #000;
 }
 
